button.success{
    background-color: rgb(39, 248, 179);
    color: rgb(19, 18, 18);
    margin: 10px;
    width: 120px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20%;
    

}


button.danger{
    background-color: rgb(243, 41, 41);
    color: white;
    margin: 10px;
    width: 120px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20%;
}